body {
  overflow-x: hidden;
}

.block {
  position: absolute;
  top: 35%;
  left: 33%;

}
.nav-head {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 32px;
}

.item {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 32px;
}
